.left-sidebar-container {
    height: 100%;
    width: 70px;
    min-width: 70px;
    background-color: rgb(247, 245, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .left-sidebar-container {
        display: none;
    }
}

.top-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bottom-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: grey;
    border: none;
    background-color: transparent;
    height: 50px;
    width: 50px;
}

.icon-container:hover {
    background-color: rgb(230, 228, 226);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.icon-container-active {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: rgb(200, 200, 200);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    color: black;
    border: none;
    height: 50px;
    width: 50px;
}

.icon-container img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}