.add-new-message-form-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    width: 65%;
    box-shadow: 0px -18px 7px -17px rgba(0,0,0,0.1);
    z-index: 9999;
    margin-bottom: 10px;
}

.icons-adjuntar-stickers-container{
    display: flex;
    gap: 10px;
    align-items: center;
}