.chat-screen-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.loader-overlay {
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: all 0.2s ease-in-out;
    transform: scale(1.01);
    gap: 10px;
    text-align: center;
    margin-top: 120px;
}

.loader-whatsapp-icon {
    font-size: 80px;
    color: rgb(222, 220, 218);
    margin-bottom: 20px;
}

.loader-title {
    font-size: 24px;
    color: #333;
    font-weight: 500;
    margin-bottom: 40px;
}

.loader-progress-container {
    width: 300px;
    height: 3px;
    background-color: #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 30px;
}

.loader-progress-bar {
    height: 100%;
    background-color: #00a884;
    width: 0%;
    animation: fillProgress 2s ease-out forwards;
}

@keyframes fillProgress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.loader-encryption-notice {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #8696a0;
    font-size: 14px;
    margin-top: auto;
    padding-bottom: 40px;
}

.loader-encryption-notice svg {
    color: rgb(222, 220, 218);
}



.chat-screen-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.chat-screen-welcome-upper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.chat-screen-welcome-upper-content h1 {
    font-size: 44px;
    font-weight: 600;
    color: #333;
}

.chat-screen-welcome-upper-content p {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.chat-screen-welcome-upper-content img {
    width: 250px;
    height: auto;
}

.chat-screen-welcome-lock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #444;
}