.chat-screen-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.loader-overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: all 0.2s ease-in-out;
    transform: scale(1.01);
}

.loader-overlay img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

.loader-overlay p {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}
