.chat-screen-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.loader-overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: all 0.2s ease-in-out;
    transform: scale(1.01);
}

.loader-overlay img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

.loader-overlay p {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.chat-screen-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 50px;
}

.chat-screen-welcome-upper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.chat-screen-welcome-upper-content h1 {
    font-size: 44px;
    font-weight: 600;
    color: #333;
}

.chat-screen-welcome-upper-content p {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.chat-screen-welcome-upper-content img {
    width: 250px;
    height: auto;
}

.chat-screen-welcome-lock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #444;
}