.messages-screen-container{
    display: flex;
    height: 100vh;
    width: 100%;
    flex: 1;
}

.messages-screen-chat-content{
    width: 100%;
    flex: 1;
}

.loader-chats {
    flex:1;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loader-chats img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

.loader-chats p {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.messages-screen-chat-form{
    display: flex;
    flex:end;
    position: fixed;
    bottom: 0;
    width: 100%;
}