.contact-side-bar-container {
    width: 400px;
    min-width: 400px;
    border-right: 1px solid #ccc;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    gap: 8px;
}

@media (max-width: 768px) {
    .contact-side-bar-container {
        width: 100%;
        min-width: 100%;
        border-right: none;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.contact-header-sidebar-logo {
    font-weight: 700;
    color: rgb(81, 171, 97);
    font-size: 20px;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    color: black;
}

.btn-nuevo-chat {
    color: black;
    border: none;
    padding: 5px 5px;
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    text-align: center;
}

.btn-nuevo-chat:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.btn-menu {
    color: black;
    border: none;
    padding: 5px 5px;
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    text-align: center;
}

.btn-menu:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.contact-list-scroll {
    overflow-y: auto;
    padding-right: 10px;
}

.contact-list-scroll::-webkit-scrollbar {
    width: 6px;
}

.contact-list-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.contact-list-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.contact-list-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}