.chat-content-container {
    display: flex;
    flex-direction: column;            
    width: 100%;
    height: 100%;
}

.chat-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 0px;
    box-shadow: 0px 18px 7px -17px rgba(0,0,0,0.1);
    z-index: 9999;
}

.header-contact-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 12px;
}

.header-contact-info h2{
    font-size: 18px;
    font-weight: 300;
}

.header-contact-buttons{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    padding-right:20px ;
}

.chat-content-header img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-messages-container{
    background-image: url("https://i.pinimg.com/736x/43/f9/f1/43f9f1819ed585ca5f0096b4aa997e7a.jpg");
    background-size: cover;          /* que la imagen ocupe todo */
    background-repeat: no-repeat;    /* que no se repita */
    background-position: center;     /* centrada */
    overflow-y: auto;                /* scroll de mensajes */
    height: 100%;              /* imagen de fondo ocupa todo el alto */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-messages-container{
    padding: 20px 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
