.chat-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow-y: auto;
}

.chat-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 0px;
    box-shadow: 0px 18px 7px -17px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.header-contact-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 12px;
}

.header-contact-info h2 {
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.header-contact-buttons {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    padding-right: 20px;
}

.header-contact-buttons i {
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out
}

.header-contact-buttons i:hover {
    background-color: #f0f0f0;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

.chat-content-header img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.chat-messages-container {
    background-image: url("https://i.pinimg.com/736x/43/f9/f1/43f9f1819ed585ca5f0096b4aa997e7a.jpg");
    background-size: cover;
    /* que la imagen ocupe todo */
    background-repeat: no-repeat;
    /* que no se repita */
    background-position: center;
    /* centrada */
    overflow-y: auto;
    /* scroll de mensajes */
    height: 100%;
    /* imagen de fondo ocupa todo el alto */
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
}

.chat-messages-container-scroll::-webkit-scrollbar {
    width: 6px;
}

.chat-messages-container-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.chat-messages-container-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.chat-messages-container-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.send_by_me_container {
    display: flex;
    justify-content: end;
}

.chat-messages-legend {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

.chat-messages-legend-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    background-color: rgb(251, 239, 212);
    border-radius: 10px;
    color: #8d8c8c;
    font-size: 13px;
    padding: 10px 10px;
    justify-content: center;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.13);
    cursor: pointer;
}

.chat-messages-legend-content p {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

.message-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
    padding: 7px 12px;
    background-color: white;
    border-radius: 0px 10px 10px 10px;
    margin: 3px;
    margin-left: 12px;
    max-width: 50%;
    justify-content: space-between;
    width: fit-content;
    max-width: fit-content;
    font-size: 13px;
    max-width: 65%;
    position: relative;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.message-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
}

.message-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}


.message-date-and-state {
    display: flex;
    flex-direction: row;
    gap: 3px;
    color: #8d8c8c;
    font-size: 12px;
    margin-bottom: -5px;
}


.send_by_me {
    background-color: rgb(217, 253, 211);
    border-radius: 10px 0px 10px 10px;
    margin-left: 3px;
    margin-right: 12px;
}

.send_by_me::before {
    left: auto;
    right: -10px;
    border-top: 10px solid rgb(217, 253, 211);
    border-left: none;
    border-right: 10px solid transparent;
}

.btn-responsive {
    display: none;
}

@media (max-width: 768px) {
    .header-contact-buttons {
        display: none;
    }

    .btn-responsive {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
    }

    .back-button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        border-radius: 50%;
        font-size: 20px;
        text-align: center;
        align-items: center;
    }

    .back-button:hover {
        background-color: #f0f0f0;
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
    }

    .chat-messages-container {
        padding: 10px 20px;
    }

}